/* Styles for the calendar page */

.Calendar-Page {
  background-color: #FFE7D7;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
h1{color: #4f180b;}
/*NOTE: there's been some new updates to embedded Google cal and most likely
the feature that used to allow changing the top color of the calendar 
no longer exists and we can only change event colors to customzie*/
.googleCal{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex: 1;
}