.navbar-wrapper {
  margin-top: 5px;
  width: 100%; /* Full width of the viewport */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

  .navbar {
    position: sticky;
    top: 0px; 
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
    gap: 10px;
    font-family: 'Inter', sans-serif;
  }

.button {
  background-color: #DB9066;
  border: none;
  color: black;
  padding: 15px 32px; /* Keep the same size for the buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  font-family: 'Inter', sans-serif;
  white-space: nowrap; /* Prevent text wrapping inside the buttons */
  box-sizing: border-box; /* Ensure padding is included in button width */
}

.button:hover {
  color: #000000;
  background-color: rgb(243, 221, 205);
}
