.carousel-container {
  position: relative;
  border-radius: 5%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image {
  height: 100%; 
  border-radius: 10%;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Dot and arrow styling */
.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px; /* Space between arrows and dots */
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 5px; /* Space between each dot */
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #717171;
}

.carousel-arrow {
  font-size: 20px; /* Adjust font size for visibility */
  font-family: 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  color: #717171;
  transition: color 0.3s;
  border: none;
  background: none;
  padding: 0; /* Remove padding for no extra space */
}

.carousel-arrow:hover {
  color: #555;
}
